h1 {
	text-align: center;
	color: white;
}


nav{
	background-color: black;
}

p {
	text-align: center;
	color: white;
}

.jumbotron {
	background-color: black;
	text-align: center;
}
#regole{
	color:black;
	text-align: center;
	align-self: center;
}
#storia{
	color:white;
	font-family: "Times New Roman";
	font-size: 150%;
	background-color: black;
}

#studi{

	height: 350px;
	background-image: url(studi.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
#giuridici{
	height: 350px;
	background-image: url(studi.jpg);
	background-size: contain;
	background-repeat:no-repeat;
	margin-top: 0px;
}
#filosofici{
	height: 350px;
	background-image: url(studi.jpg);
	background-size: contain;
	background-repeat:no-repeat;
}
#avvocato{
	height: 350px;
	background-image: url(studi.jpg);
	background-size: contain;
	background-repeat:no-repeat;
}
#politica{
	height: 350px;
	background-image: url(studi.jpg);
	background-size: contain;
	background-repeat:no-repeat;
}
#napoli{
	height: 350px;
	background-image: url(studi.jpg);
	background-size: contain;
	background-repeat:no-repeat;
}
#atene{
	height: 350px;
	background-image: url(studi.jpg);
	background-size: contain;
	background-repeat:no-repeat;
}
.card{
	background-color: transparent;
}

button{
	text-align: center;
	color: white;
}

#scelta{
	padding: 70px;
}



#intermezzo{
	height: 200px;
}
